VITE_AUTH0_AUDIENCE=https://api.zunou.ai
VITE_AUTH0_CLIENT_ID=XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX
VITE_AUTH0_DOMAIN=my-domain.us.auth0.com
VITE_COMPANION_URL=https://uploader.development.zunou.ai/companion

# Download Links
VITE_DASHBOARD_MAC_ZIP=https://
VITE_DASHBOARD_MAC_DMG=https://
VITE_DASHBOARD_WINDOWS=https://
VITE_SCOUT_MAC_DMG=https://
VITE_SCOUT_WINDOWS=https://
VITE_SCOUT_WEB_APP=https://
